{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport'/>
    <title>shipping-complate-buy</title>
    <!--    font------------------------------------>
    <link rel="stylesheet" href=" {% static  'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static  'assets/css/materialdesignicons.css' %}">
    <link rel="stylesheet" href=" {% static  'assets/css/materialdesignicons.css.map' %}">
    <!--    bootstrap------------------------------->
    <link rel="stylesheet" href=" {% static  'assets/css/bootstrap.css' %}">
    <!--    responsive------------------------------>
    <link rel="stylesheet" href=" {% static  'assets/css/responsive.css' %}">
    <!--    main style------------------------------>
    <link rel="stylesheet" href=" {% static  'assets/css/main.css' %}">
</head>
<body>

<!--header------------------------------------->
        <header class="js-header">
            <div class="container">
                <div class="header-row">
                    <div class="header-logo">
                        <a href=" {% static  '" class="header-logo-img"></a>
                    </div>
                    <div class="shipment-page">
                        <ul class="checkout-steps">
                            <li class="is-completed is-completed-active">
                                <a href=" {% static  'shopping.html' %}" class="checkout-steps-item-link active-link-shopping">
                                    <span>اطلاعات ارسال</span>
                                </a>
                            </li>
                            <li class="is-completed is-completed-active">
                                <a href=" {% static  'shopping-payment.html' %}" class="checkout-steps-item-link active-link-shopping">
                                    <span>پرداخت</span>
                                </a>
                            </li>
                            <li class="is-active">
                                <a href=" {% static  'shopping-complate-buy.html' %}" class="checkout-steps-item-link active-link-shopping">
                                    <span>اتمام خرید و ارسال</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
<!--header------------------------------------->
<!--shipping----------------------------------->
        <section class="page-shipping">
            <div class="page-row">
                <div class="col-12 text-center">
                    <div class="complate-page-container">
                        <div class="success-checkout">
                            <div class="container">
                                <div class="icon-success">
                                    <span class="fa fa-check"></span>
                                </div>
                                <div class="order-success">
                                    سفارش 
                                    <a href=" {% static  '#' %}" class="order-code">DKC-57262900</a>
                                    با موفقیت پرداخت و در سیستم ثبت شد.
                                    <span class="order-ready-post">پرداخت با موفقیت انجام شد. سفارش شما با موفقیت ثبت شد و در زمان تعیین شده برای شما ارسال خواهد شد.
                                    <br>
                                    از اینکه دیجی استور را برای خرید انتخاب کردید از شما سپاسگزاریم.
                                    </span>
                                </div>
                            </div>   
                        </div>

                        <div class="checkout-order-info">
                            <div class="order-info">
                                <div class="order-code">
                                   کد سفارش :
                                    <span>DKC-57262900</span>
                                </div>
                                <div class="checkout-process-order-info">
                                    سفارش شما با موفقیت در سیستم ثبت شد و هم اکنون 
                                    <a href=" {% static  '#' %}" class="processing">در حال پردازش</a>
                                     است.جزئیات این سفارش را می توانید
                                         با کلیک بر روی دکمه 
                                    <a href=" {% static  '#' %}" class="link-border">پیگیری سفارش</a>
                                         مشاهده نمایید.
                                </div>
                                <div class="parent-btn btn-following-order">
                                    <button class="dk-btn dk-btn-info">
                                         پیگیری سفارش
                                        <i class="fa fa-shopping-bag sign-in"></i>
                                    </button>
                                </div>
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th scope="col">نام تحویل گیرنده: حسن شجاعی</th>
                                      <th scope="col">شماره تماس :</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>تعداد مرسوله : 1</td>
                                      <td>مبلغ کل :</td>
                                    </tr>
                                    <tr>
                                      <td>وضعیت پرداخت : پرداخت آنلاین(موفق)</td>
                                      <td>وضعیت سفارش : در حال انجام</td>
                                    </tr>
                                    <tr>
                                      <td>آدرس : استان خراسان شمالی ، بجنورد</td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-actions text-right mb-2">
                        <a href=" {% static  '#' %}" class="checkout-actions-back"><i class="fa fa-angle-right" aria-hidden="true"></i>بازگشت به سبد خرید</a>
                    </div>
                </div>
            </div>
        </section>
<!--shipping----------------------------------->
<!--footer------------------------------------->
        <footer class="footer-light">
            <div class="container">
                <ul class="footer-light-link">
                    <li><a href=" {% static  '#' %}">درباره دیجی اسمارت</a></li>
                    <li><a href=" {% static  '#' %}">فرصت‌های شغلی</a></li>
                    <li><a href=" {% static  '#' %}">تماس با ما</a></li>
                    <li><a href=" {% static  '#' %}">همکاری با سازمان‌ها</a></li>
                </ul>

                <p class="title-footer">استفاده از مطالب فروشگاه اینترنتی دیجی‌اسمارت فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌اسمارت) می‌باشد.</p>

                <p class="copy-right-footer-light">Copyright © 2006 - 2019 DigiSmart.com</p>
            </div>
        </footer>
<!--footer------------------------------------->
</body>
<!--jquery--------------------------------------->
<script src=" {% static  'assets/js/jquery-3.2.1.min.js"></script>
<!--    bootstrap-------------------------------->
<script src=" {% static  'assets/js/bootstrap.js"></script>
<!--main----------------------------------------->
<script src=" {% static  'assets/js/main.js"></script>
</html>